// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  display: inline;
  margin: 0;
}

.field_with_errors input {
  border: 3px solid #b94a48;
}

.field_with_errors textarea {
  border: 3px solid #b94a48;
}